body
{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 flex-wrap: wrap;
 background-color: beige;

}

.adminPanel{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1 1 300;
    background-color:burlywood;
    width: 400px;
}

.displayPanel{
    display: flex;
    flex-direction: column;
    flex: 3 1 auto;
    width:  400px;
}

.dodajLokaciju{
    display:  flex;
    flex-direction: column;
    border:  1px solid black;
    margin: 2px;
    

}
.adminBoxInner{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    margin: 3px;

}
.adminBox{
    display: flex;
    flex-direction: row;

    justify-content:space-between;
    border:  1px solid black;
    margin: 5px;

}
.stanica{
    font-size: large;
    display: flex;
    flex-direction: column;
    border:  1px solid black;

    background-color:burlywood;
    margin: 5px;;
}
.lokacija{
    display: flex;
    flex-direction: row;
}
.lokbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.meteos{
    border:  1px solid black;

}
.mainlok{
    background-color:beige;
    padding: 5px;
    font-size: 20px;
}
.mes{

    display: flex;
    flex-direction: column;
    border-bottom: black;
    border:  1px solid black;

}
.naslov, .meteo{
    font-size: 20px;
    font-weight: bold;
}

.metdiv{
    width: 191px;
    display: flex;
}
.postaviMeteoInS, .brisanjeLokIn{
    width:175px;
}